@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

$primary=#1faaf2
$primaryhover=lighten(#1faaf2, 35%)

$bg=#242424
$bgdark=#1d1d1d
$bglight=#333
$bglighter=#393939

$red=#92374d
$green=#514b23
$orange=#d66853

$black=#222
$gray=#262626
$grayalt=#323232
$grayhover=#444

$lightgray=#AAA
$white=#c3c3c3

$normalfont= Rubik, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif
$monospace= Rubik, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

media--1024() {
  @media (min-width: 1024px) {
    {block}
  }
}
